<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- Import component library -->
<script src="https://unpkg.com/element-plus"></script>
<!-- Import style -->
<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
<link rel="stylesheet" href="https://unpkg.com/lwu-css@1.0.4/dist/index.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/components/prism-json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.min.js"
	integrity="sha512-6qbnCNQe7wVcBDvhNJT6lZsbDKHCQQBk7yOBQg4s/9GG812CknK0EEIqG2IS10XuNxIQNWjMJd6VLwwezICz6w=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/material-darker.min.css" integrity="sha512-2OhXH4Il3n2tHKwLLSDPhrkgnLBC+6lHGGQzSFi3chgVB6DJ/v6+nbx+XYO9CugQyHVF/8D/0k3Hx1eaUK2K9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="app" class="lwu-px-3">
	<div>
		<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
			<div class="text-base">项目位置</div>
			<el-autocomplete v-model="data.uniName" :fetch-suggestions="querySearchUniName" clearable
				class="lwu-w-full lwu-mx-3 lwu-h-9" value-key="name" placeholder="请输入要打包的项目的本地绝对路径"
				@select="onSelectUniName" />
		</div>
		<div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div>
	</div>
	<div>
		<div class="lwu-flex lwu-justify-between lwu-mt-3 lwu-text-sm lwu-font-semibold lwu-items-center">
			<div class="text-base">打包方式</div>
			<el-radio-group v-model="type" @change="onChangeType">
				<el-radio value="1">
					<span>Github自动打包</span>
				</el-radio>
				<el-radio value="2">
					<span>本地自动打包</span>
				</el-radio>
			</el-radio-group>
		</div>
		<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
	</div>
	<div class="lwu-mt-3 lwu-font-semibold">
		<div class="text-base">Android离线打包SDK下载地址</div>
		<input v-model="data.sdkDownloadUrl" type="text" placeholder="请输入uni-app x Android离线打包SDK下载地址"
			class="lwu-border-none lwu-flex-1 lwu-mt-3 lwu-w-full" />
		<div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div>
		<div class="lwu-bg-grey-0 lwu-grey-6 lwu-p-3 lwu-rounded-sm lwu-mt-3">
			<div class=" lwu-grey-6">
				<span>请输入uniapp x Andorid离线打包SDK下载地址。</span>
				<a href="https://doc.dcloud.net.cn/uni-app-x/native/download/android.html" class="text-primary">查看详情</a>
			</div>
		</div>
	</div>
	<div class="lwu-mt-6" v-if="type == 2">
		<div>
			<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
				<span class="text-base">安卓SDK路径</span>
				<input v-model="data.androidLocalSdk" type="text" placeholder="请输入本地安装的安卓SDK路径" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
				<!-- <span class="text-primary cursor-pointer">浏览</span> -->
			</div>
			<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
				如未安装请到 <a href="https://developer.android.google.cn/studio">https://developer.android.google.cn/studio</a> 下载。默认同步HbuilderX的【设置】-【插件配置】-【uts开发扩展-Android】-【安卓sdk路径】
			</div>
			<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
		</div>
		<div class="lwu-mt-3">
			<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
				<span class="text-base">JDK路径</span>
				<input v-model="data.javaHome" type="text" placeholder="请输入本地安装的JDK路径" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
				<!-- <span class="text-primary cursor-pointer">浏览</span> -->
			</div>
			<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
				<div>请输入android studio安装目录中的jbr路径。(示例：%安装路径%/jbr)</div>
				<div>如果未填写，以系统环境变量设置为准。(如果未设置系统环境变量则打包失败)</div>
			</div>
			<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
		</div>
		<div class="lwu-mt-3">
			<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold" id="androidPackageName">
				<span class="text-base">Android包名</span>
				<input v-model="data.androidPackageName" type="text" placeholder="请输入包名" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
				<!-- <span class="text-primary cursor-pointer">浏览</span> -->
			</div>
			<!-- <div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
				<div>请输入android studio安装目录中的jbr路径。(示例：%安装路径%/jbr)</div>
				<div>如果未填写，以系统环境变量设置为准。(如果未设置系统环境变量则打包失败)</div>
			</div> -->
			<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
		</div>
		<div class="lwu-mt-3">
			<div class="lwu-flex lwu-justify-between lwu-mt-3 lwu-text-sm lwu-font-semibold lwu-items-center">
				<div class="text-base">证书类型</div>
				<el-radio-group v-model="data.storeType" @change="onChangeAutoCheckPackenv">
					<el-radio value="1">
						<span>默认证书</span>
					</el-radio>
					<el-radio value="2">
						<span>自选证书</span>
					</el-radio>
				</el-radio-group>
			</div>
			<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
				<div>自选证书请参考 <a class="lwu-text-base" href="https://ask.dcloud.net.cn/article/35777">证书生成指南</a></div>
			</div>
			<!-- <div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div> -->
		</div>
		<div v-if="data.storeType == 2">
			<el-form ref="storeFormRef" label-width="150px" label-position="left" :model="data.storeForm" :rules="storeFormRules">
				<el-form-item prop="storePath" label="证书库文件路径" required>
					<div class="lwu-my-3 lwu-w-full" id="storePath">
						<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
							<!-- <span class="lwu-text-base">证书库文件路径</span> -->
							<input v-model="data.storeForm.storePath" type="text" placeholder="请输入keystore证书路径" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
							<!-- <span class="text-primary cursor-pointer">浏览</span> -->
						</div>
						<!-- <div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
							<div>请输入android studio安装目录中的jbr路径。(示例：%安装路径%/jbr)</div>
							<div>如果未填写，以系统环境变量设置为准。(如果未设置系统环境变量则打包失败)</div>
						</div> -->
						<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
					</div>
				</el-form-item>
				<el-form-item label="证书库密码" prop="storePassword" required>
					<div class="lwu-my-3 lwu-w-full" id="storePassword">
						<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
							<!-- <span class="lwu-text-base">证书库密码</span> -->
							<input v-model="data.storeForm.storePassword" type="text" placeholder="请输入keystore证书库密码" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
							<!-- <span class="text-primary cursor-pointer">浏览</span> -->
						</div>
						<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
							<div>对应安卓打包配置中的【storePassword】</div>
						</div>
						<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
					</div>
				</el-form-item>
				<el-form-item label="证书别名" prop="keyAlias" required>
					<div class="lwu-my-3 lwu-w-full" id="keyAlias">
						<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
							<!-- <span class="lwu-text-base">证书别名</span> -->
							<input v-model="data.storeForm.keyAlias" type="text" placeholder="请输入keystore证书别名" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
							<!-- <span class="text-primary cursor-pointer">浏览</span> -->
						</div>
						<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
							<div>对应安卓打包配置中的【keyAlias】</div>
						</div>
						<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
					</div>
				</el-form-item>
				<el-form-item label="证书密码" prop="keyPassword" required>
					<div class="lwu-my-3 lwu-w-full" id="keyPassword">
						<div class="lwu-flex lwu-items-center lwu-text-sm lwu-w-full lwu-font-semibold">
							<!-- <span class="lwu-text-base">证书密码</span> -->
							<input v-model="data.storeForm.keyPassword" type="text" placeholder="请输入keystore证书密码" class="lwu-border-none lwu-flex-1 lwu-mx-3" />
							<!-- <span class="text-primary cursor-pointer">浏览</span> -->
						</div>
						<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-mt-3 lwu-rounded-sm">
							<div>对应安卓打包配置中的【keyPassword】</div>
						</div>
						<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
					</div>
				</el-form-item>
			</el-form>
		</div>
		<div class="lwu-mt-3">
			<div class="lwu-flex lwu-justify-between lwu-mt-3 lwu-text-sm lwu-font-semibold lwu-items-center">
				<div class="text-base">自动检测打包环境</div>
				<el-radio-group v-model="data.autoCheckPackenv" @change="onChangeAutoCheckPackenv">
					<el-radio value="1">
						<span>是</span>
					</el-radio>
					<el-radio value="2">
						<span>否</span>
					</el-radio>
				</el-radio-group>
			</div>
			<div class="lwu-w-full divider lwu-h-px lwu-mt-3"></div>
		</div>
	</div>
	<div class="lwu-mt-6 lwu-font-semibold" v-if="type == 1">
		<div class="text-base">原生工程仓库地址</div>
		<input v-model="data.repositoryUrl" type="text" placeholder="请输入原生工程仓库地址" class="lwu-border-none lwu-flex-1 lwu-mt-3 lwu-w-full" />
		<div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div>
		<div class="lwu-bg-grey-0 lwu-grey-6 lwu-p-3 lwu-rounded-sm lwu-mt-3">
			<div class=" lwu-grey-6">
				<span>请</span>
				<span class="lwu-bg-grey-1 lwu-px-1 lwu-rounded-xs lwu-mx-1">fork</span>
				<a href="https://github.com/kviewui/uniappx-native-android" class="text-primary">uniappx-native-android</a>
				<span>项目到自己的github仓库，然后填写自己的仓库地址，注意需要ssh协议。（示例：git@github.com:xxx/uniappx-native-android.git)</span>
			</div>
		</div>
	</div>
	<div class="lwu-mt-6">
		<div class="lwu-flex lwu-flex-col">
			<div class="lwu-font-semibold text-base">模块配置</div>
			<div class="lwu-flex lwu-items-center">
				<div class="lwu-mr-3">JSON方式</div>
				<el-switch v-model="moduleJSON" size="small" />
			</div>
			<div>
				<div class="lwu-flex lwu-items-center">
					<div class="lwu-mr-3">同步全局配置</div>
					<el-switch v-model="data.saveLocalConfig" size="small" />
				</div>
				<div class="lwu-mt-3 lwu-bg-grey-0 lwu-p-3 lwu-rounded-sm">开启后将自动存储本次勾选的模块配置，下次自动读取全局配置。</div>
			</div>
		</div>
		<div v-if="moduleJSON">
			<div class="lwu-mt-3">
				<textarea name="" id="code-editor" cols="30" rows="10"></textarea>
			</div>
			<div class="lwu-mt-3 lwu-bg-grey-0 lwu-p-3 lwu-rounded-sm">首次使用JSON配置时，可以先使用可视化配置，然后切换JSON方式看生成的配置代码，熟悉后即可自己手动写JSON快速配置。</div>
		</div>
		<div v-if="!moduleJSON">
			<div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div>
			<div class="lwu-flex lwu-items-center lwu-mt-3">
				<div class="bg-primary lwu-h-6 lwu-w-2 lwu-rounded-full lwu-mr-2"></div>
				<div class="lwu-font-semibold text-base">内置模块</div>
			</div>
			<div v-for="item of buildInModules">
				<div class="lwu-flex lwu-items-center lwu-mt-3">
					<el-checkbox v-model="item.value" @change="() => onChangeBuildInModules(item)" />
					<div class="text-lg lwu-mr-6">{{ item.label }}</div>
				</div>
				<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-rounded-sm">
					<div v-for="descItem of item.desc" v-html="descItem"></div>
				</div>
				<!-- <div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div> -->
			</div>
			<!-- <div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div> -->
			<div class="lwu-flex lwu-items-center lwu-mt-3">
				<div class="bg-primary lwu-h-6 lwu-w-2 lwu-rounded-full lwu-mr-2"></div>
				<div class="lwu-font-semibold text-base">其他模块</div>
			</div>
			<div v-for="item of otherModules">
				<div class="lwu-flex lwu-items-center lwu-mt-3">
					<el-checkbox v-model="item.value" />
					<div class="text-lg lwu-mr-6">{{ item.label }}</div>
				</div>
				<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-rounded-sm">
					<div v-for="descItem of item.desc" v-html="descItem"></div>
				</div>
				<div v-if="item.value" class="lwu-mt-3">
					<el-form
						:ref="convertToCamelCase(item.label) + 'FormRef'"
						:model="item.formModel"
						:rules="item.formRules"
						status-icon
					>
						<template v-for="formItem of item.form">
							<el-form-item v-if="formItem.compType == 'input'" :label="formItem.label" required :prop="formItem.label">
								<el-input v-model="formItem.value" :id="formItem.label" class="lwu-h-9" :placeholder="`请输入${formItem.label}`" />
							</el-form-item>
							<div v-if="formItem.desc.length > 0" class="lwu-mt-3 lwu-bg-grey-0 lwu-p-3 lwu-rounded-sm lwu-grey-7">
								<div v-for="formItemDesc of formItem.desc" v-html="formItemDesc" class="lwu-grey-7"></div>
							</div>
						</template>
						<el-form-item v-if="item.modules" :label="item.modules.label" required prop="value">
							<!-- <div class="lwu-mt-3 lwu-font-semibold">{{ item.modules.label }}</div> -->
							<el-checkbox-group v-if="item.modules.compType === 'checkboxGroup'" v-model="item.modules.value" :id="item.label">
								<el-checkbox v-for="moduleItem of item.modules.items" :label="moduleItem.label" :value="moduleItem.value" size="small" />
							</el-checkbox-group>
						</el-form-item>
					</el-form>
				</div>
				<!-- <div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div> -->
			</div>
			<div>
				<div class="lwu-flex lwu-items-center lwu-mt-3">
					<el-checkbox v-model="uniAd.value" />
					<div class="text-lg lwu-mr-6">uni-ad</div>
				</div>
				<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-rounded-sm">
					<div v-for="descItem of uniAd.desc" v-html="descItem"></div>
				</div>
				<template v-if="uniAd.value">
					<div class="lwu-mt-3 lwu-font-semibold">{{ uniAd.modules.label }}</div>
					<el-checkbox-group v-model="uniAd.modules.value">
						<el-checkbox v-for="item of uniAd.modules.items" :label="item.label" :value="item.value" size="small" />
					</el-checkbox-group>
					<div class="lwu-bg-grey-0 lwu-p-3 lwu-rounded-sm">
						<div v-for="item of uniAd.modules.desc" v-html="item" class="lwu-grey-7"></div>
					</div>
					<div class="lwu-mt-3">
						<el-form
							ref="uniAdFormRef"
							:model="uniAd"
							:rules="uniAdRules"
							status-icon
						>
							<el-form-item label="联盟ID" required prop="DCLOUDUnionId">
								<el-input v-model="uniAd.DCLOUDUnionId" id="DCLOUDUnionId" class="lwu-h-9" placeholder="请输入联盟ID" />
							</el-form-item>
						</el-form>
						<div class="lwu-mt-3 lwu-bg-grey-0 lwu-p-3 lwu-rounded-sm lwu-grey-7">说明：联盟ID位于：<a href="https://uniad.dcloud.net.cn/">uni-AD后台</a>->首页->联盟ID</div>
					</div>
				</template>
				<div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div>
			</div>
			<div>
				<div class="lwu-flex lwu-items-center lwu-mt-3">
					<el-checkbox v-model="uniPush.value" />
					<div class="text-lg lwu-mr-6">uni-push</div>
				</div>
				<div class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-rounded-sm">
					<div v-for="descItem of uniPush.desc" v-html="descItem"></div>
				</div>
				<template v-if="uniPush.value">
					<el-form 
						:model="uniPushFormModel" 
						:rules="uniPushRules"
						ref="uniPushFormRef"
						class="lwu-mt-3"
						status-icon
					>
						<div v-for="item of uniPush.form" class="lwu-mt-6">
							<el-form-item v-if="item.compType === 'input'" :label="item.label" required :prop="item.label">
								<el-input v-model="item.value" class="lwu-h-9" :placeholder="`请输入${item.label}`" :id="item.label" />
							</el-form-item>
							<el-form-item v-if="item.compType === 'switch'" :label="item.label">
								<el-switch v-model="item.value" size="small" />
							</el-form-item>
							<div v-if="item.desc.length" class="lwu-bg-grey-0 lwu-grey-7 lwu-p-3 lwu-rounded-sm">
								<div v-html="item.desc" class="lwu-mb-1"></div>
							</div>
							<!-- <div class="lwu-w-full divider lwu-h-px lwu-my-6 lwu-opacity-30"></div> -->
						</div>
					</el-form>
				</template>
				<div class="lwu-w-full divider lwu-h-px lwu-mt-6"></div>
			</div>
		</div>
		<!-- <el-button class="lwu-w-full" @click="onSubmit">提交</el-button> -->
	</div>
</div>

<script>
	const {
		createApp,
		ref,
		toRefs,
		reactive,
		onMounted,
		watch,
		nextTick,
		computed
	} = Vue
	const {
		ElMessage,
		ElNotification,
		ElMessageBox
	} = ElementPlus

	const App = {
		setup({ refs }) {
			const type = ref('2');
			const uniNames = ref([]);
			const data = reactive({
				uniName: '',
				localPack: computed(() => type.value === '2'),
				sdkDownloadUrl: 'https://web-ext-storage.dcloud.net.cn/uni-app-x/sdk/Android-uni-app-x-SDK@11920-4.22.zip',
				androidLocalSdk: '',
				repositoryUrl: '',
				javaHome: '',
				autoCheckPackenv: '1',
				checkAgconnectServicesRes: false,
				saveLocalConfig: true,
				storeType: '1',
				androidPackageName: 'cn.uvuejs.kux',
				storeForm: {
					storePath: '',
					storePassword: '',
					keyAlias: '',
					keyPassword: ''
				}
			})
			const storeFormRef = ref(null)
			const storeFormRules = reactive({
				androidPackageName: [
					{ required: true, message: '请填写包名', trigger: 'blur' }
				],
				storePath: [
					{ required: true, message: '请填写证书库文件路径', trigger: 'blur' }
				],
				storePassword: [
					{ required: true, message: '请填写证书库密码', trigger: 'blur' }
				],
				keyAlias: [
					{ required: true, message: '请填写证书别名', trigger: 'blur' }
				],
				keyPassword: [
					{ required: true, message: '请填写证书密码', trigger: 'blur' }
				]
			})
			const buildTag = (content) => {
				return `<span class="bg-warning-1 text-warning lwu-px-2 lwu-rounded-xs">${content}</span>`
			}
			const buildHref = (href, text) => {
				return `<a href="${href}">${text}</a>`;
			}
			const buildInModules = ref([
				{
					label: 'uni-createRequestPermissionListener',
					value: false,
					desc: [`监听权限申请模块（${buildTag('HBuilderX4.0+')}），包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/create-request-permission-listener.html', 'uni.createRequestPermissionListener')}`]
				},
				{
					label: 'uni-createWebviewContext',
					value: true,
					desc: [`创建 web-view 组件的上下文对象模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/create-webview-context.html', 'uni.createWebviewContext')}`]
				},
				{
					label: 'uni-fileSystemManager',
					value: false,
					desc: [`文件管理模块（${buildTag('HBuilderX3.99+')}），包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-file-system-manager.html', 'uni.getFileSystemManager')}`]
				},
				{
					label: 'uni-getLocationSystem',
					value: true,
					desc: [`系统定位模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-location.html', 'uni.getLocation')}`]
				},
				{
					label: 'uni-getNetworkType',
					value: true,
					desc: [`获取网络类型模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-network-type.html', 'uni.getNetworkType')}`]
				},
				{
					label: 'uni-installApk',
					value: false,
					desc: [`安装apk模块（${buildTag('HBuilderX3.99+')}），包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/install-apk.html', 'uni.installApk')}`]
				},
				{
					label: 'uni-media',
					value: true,
					desc: [`多媒体相关API模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/choose-image.html', 'uni.chooseImage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/preview-image.html', 'uni.previewImage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/save-image-to-photos-album.html', 'uni.saveImageToPhotosAlbum')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-image-info.html', 'uni.getImageInfo')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/compress-image.html', 'uni.compressImage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/choose-video.html', 'uni.chooseVideo')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/save-video-to-photos-album.html', 'uni.saveVideoToPhotosAlbum')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-video-info.html', 'uni.getVideoInfo')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/compress-video.html', 'uni.compressVideo')}`]
				},
				{
					label: 'uni-network',
					value: true,
					desc: [`网络请求（文件上传/下载）模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/download-file.html', 'uni.downloadFile')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/request.html', 'uni.request')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/upload-file.html', 'uni.uploadFile')}`]
				},
				{
					label: 'uni-websocket',
					value: false,
					desc: [`WebSocket模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html', 'uni.connectSocket')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html#onsocketopen', 'uni.onSocketOpen')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html#onsocketerror', 'uni.onSocketError')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html#sendsocketmessage', 'uni.sendSocketMessage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html#onsocketmessage', 'uni.onSocketMessage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html#closesocket', 'uni.closeSocket')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/websocket-global.html#onsocketclose', 'uni.onSocketClose')}`]
				},
				// {
				// 	label: 'uni-video',
				// 	value: true,
				// 	desc: [`${buildHref('https://doc.dcloud.net.cn/uni-app-x/component/video.html', 'video视频组件模块')}，包括内置组件：${buildHref('https://doc.dcloud.net.cn/uni-app-x/component/video.html', 'video')}；包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/create-video-context.html', 'uni.createVideoContext')}`]
				// },
				{
					label: 'uni-cloudClient',
					value: false,
					desc: [`调用uniCloud${buildHref('https://doc.dcloud.net.cn/uniCloud/cf-functions.html', '云函数/云对象')}模块，包括API：${buildHref('https://doc.dcloud.net.cn/uniCloud/cloud-obj.html#%E5%AE%A2%E6%88%B7%E7%AB%AF%E8%B0%83%E7%94%A8', 'uniCloud.importObject')}、${buildHref('https://doc.dcloud.net.cn/uniCloud/cf-callfunction.html#callfunction%E6%96%B9%E6%B3%95', 'uniCloud.callFunction')}`, `依赖的模块：uni-media、uni-network`]
				}
			]);
			const uniAd = reactive({
				value: false,
				desc: [`uni-AD${buildHref('https://uniad.dcloud.net.cn/', '广告联盟')}模块（${buildTag('HBuilderX4.0+')}），包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/create-rewarded-video-ad.html', 'uni.createRewardedVideoAd')}`, `注意：此模块仅包含基础广告模块，配置聚合广告平台需手动配置，详情参考${buildHref('https://doc.dcloud.net.cn/uni-app-x/collocation/manifest-modules.html#uni-ad', 'uni-ad')}章节`],
				modules: {
					label: '聚合广告平台',
					desc: [`添加相应的平台，云端打包就会将对应的广告平台 SDK 打包到最终安装包中。`, `注意：穿山甲GroMore、快手广告联盟、腾讯优量汇广告联盟仅支持${buildTag('armeabi-v7a')}和${buildTag('arm64-v8a')}两个CPU平台。`, `注意：目前仅支持上述国内广告平台，国际广告暂不支持。`],
					items: [{
						label: '腾讯优量汇',
						value: 'gdt'
					}, {
						label: '穿山甲',
						value: 'gm'
					}, {
						label: '快手',
						value: 'ks'
					}, {
						label: 'Sigmob',
						value: 'sgm'
					}, {
						label: '百度百青藤',
						value: 'bd'
					}],
					value: []
				},
				DCLOUDUnionId: ''
			});
			const uniAdFormRef = ref(null)
			const uniAdRules = reactive({
				DCLOUDUnionId: [
					{
						required: true,
						message: '请输入联盟ID'
					}
				]
			})
			const moduleJSON = ref(false);
			const moduleConfig = ref({});
			let editor = null;
			const uniPush = reactive({
				value: false,
				desc: [`${buildHref('https://uniapp.dcloud.net.cn/unipush-v2.html', 'uni-push统一推送')}模块（${buildTag('HBuilderX3.97+')}），包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/create-rewarded-video-ad.html', 'uni.createPushMessage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/push.html#getpushclientid', 'uni.getPushClientId')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/push.html#offpushmessage', 'uni.offPushMessage')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/push.html#onpushmessage', 'uni.onPushMessage')}`],
				form: [{
					label: 'GETUI_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/index', '消息推送')}的AppId。查看【配置管理】->【应用配置】中的${buildTag('AppId')}`]
				}, {
					label: 'PUSH_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/index', '消息推送')}的AppId。查看【配置管理】->【应用配置】中的${buildTag('AppId')}`]
				}, {
					label: 'dcloud_unipush_auto_notification',
					value: true,
					compType: 'switch',
					desc: ['透传时是否自动创建通知。']
				}, {
					label: 'MIPUSH_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('小米 AppId')}。查看【小米】中的${buildTag('AppId')}`]
				}, {
					label: 'MIPUSH_APPKEY',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('小米 AppKey')}。查看【小米】中的${buildTag('AppKey')}`]
				}, {
					label: 'MEIZUPUSH_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('魅族 AppId')}。查看【魅族】中的${buildTag('AppId')}`]
				}, {
					label: 'MEIZUPUSH_APPKEY',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('魅族 AppKey')}。查看【魅族】中的${buildTag('AppKey')}`]
				}, {
					label: 'OPPOPUSH_APPKEY',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('OPPO AppKey')}。查看【OPPO】中的${buildTag('AppKey')}`]
				}, {
					label: 'OPPOPUSH_APPSECRET',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('OPPO AppSecret')}。查看【OPPO】中的${buildTag('AppSecret')}`]
				}, {
					label: 'HUAWEI_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('华为 AppId')}。查看【华为】中的${buildTag('AppId')}`]
				}, {
					label: 'VIVO_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('VIVO AppId')}。查看【VIVO】中的${buildTag('AppId')}`]
				}, {
					label: 'VIVO_APIKEY',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('VIVO AppKey')}。查看【VIVO】中的${buildTag('AppKey')}`]
				}, {
					label: 'HIHONOR_APPID',
					value: '',
					compType: 'input',
					desc: [`请输入${buildHref('https://dev.dcloud.net.cn/pages/app/push2/thirdparty', '厂商推送设置')}的${buildTag('荣耀 AppId')}。查看【荣耀】中的${buildTag('AppId')}`]
				}]
			})
			const otherModules = ref([
				{
					label: 'uni-video',
					value: true,
					desc: [`${buildHref('https://doc.dcloud.net.cn/uni-app-x/component/video.html', 'video视频组件模块')}，包括内置组件：${buildHref('https://doc.dcloud.net.cn/uni-app-x/component/video.html', 'video')}；包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/create-video-context.html', 'uni.createVideoContext')}`],
					form: []
				},
				{
					label: 'uni-facialRecognitionVerify',
					value: false,
					desc: [`${buildHref('https://doc.dcloud.net.cn/uniCloud/frv/intro.html', 'uni实人认证')}模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/facial-recognition-verify.html#getfacialrecognitionmetainfo', 'uni.getFacialRecognitionMetaInfo')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/facial-recognition-verify.html#startfacialrecognitionverify', 'uni.startFacialRecognitionVerify')}`],
					form: []
				},
				{
					label: 'uni-verify',
					value: false,
					desc: [`${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-univerify-manager.html', 'App一键登录')}模块（${buildTag('HBuilderX3.99+')}）包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-univerify-manager.html#getuniverifymanager', 'uni.getUniverifyManager')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-univerify-manager.html#prelogin', 'UniverifyManager.preLogin')}、${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/get-univerify-manager.html#login', 'UniverifyManager.login')}`],
					form: [
						{
							label: 'GETUI_APPID',
							value: '',
							compType: 'input',
							desc: []
						},
						{
							label: 'GY_APP_ID',
							value: '',
							compType: 'input',
							desc: [`GETUI_APPID与GY_APP_ID对应${buildHref('https://dev.dcloud.net.cn/', '开发者中心')}一键登录->基础配置->一键登录应用ID（离线打包使用），GETUI_APPID与GY_APP_ID取值相同。`]
						}
					],
					// uniVerifyFormRef: ref(null),
					formModel: {
						GETUI_APPID: computed(() => otherModules.value[2].form[0].value),
						GY_APP_ID: computed(() => otherModules.value[2].form[1].value)
					},
					formRules: {
						GETUI_APPID: [
							{ required: true, message: '请输入GETUI_APPID' }
						],
						GY_APP_ID: [
							{ required: true, message: '请输入GY_APP_ID' }
						]
					}
				},
				{
					label: 'uni-payment',
					value: false,
					desc: [`请求支付模块，包括API：${buildHref('https://doc.dcloud.net.cn/uni-app-x/api/request-payment.html', 'uni.requestPayment')}`],
					form: [],
					formModel: {
						value: computed(() => otherModules.value[3].modules.value)
					},
					formRules: {
						value: [
							{ type: 'array', required: true, message: '请至少选择一种支付平台', trigger: 'change' }
						]
					},
					modules: {
						label: '支付平台',
						value: ['wxpay', 'alipay'],
						compType: 'checkboxGroup',
						items: [{
							label: '微信支付',
							value: 'wxpay'
						}, {
							label: '支付宝支付',
							value: 'alipay'
						}]
					}
				}
			])
			const uniVerifyFormRef = ref(null)
			const uniPushFormRef = ref(null)
			const uniPaymentFormRef = ref(null)
			let uniPushRulesData = {}
			let uniPushFormModelData = {}
			uniPush.form.map(item => item.label).map((label, index) => {
				uniPushRulesData[label] = [{ required: true, message: `请输入${label}` }] 
				uniPushFormModelData[label] = computed(() => uniPush.form[index].value)
			})
			const uniPushFormModel = reactive(uniPushFormModelData)
			const uniPushRules = reactive(uniPushRulesData)
			const querySearchUniName = (queryString, cb) => {
				const results = queryString ?
					uniNames.value.filter(createFilterUniName(queryString)) :
					uniNames.value
				cb(results)
			}
			const createFilterUniName = (queryString) => {
				return (uniName) => {
					return (
						uniName.name.toLowerCase().indexOf(queryString.toLowerCase()) > -1
					)
				}
			}
			
			const beforeSubmit = async () => {
				let error = false
				if (!data.localPack) {
					if (data.repositoryUrl.length == 0) {
						error = true
						ElNotification({
							title: '提示',
							message: '请填写原生工程仓库地址',
							type: 'error',
							duration: 6000
						})
						return false
					}
				}
				if (error) return
				if (data.localPack) {
					if (data.storeForm.androidPackageName.length == 0) {
						error = true
						ElNotification({
							title: '提示',
							message: '请填写Andorid包名',
							type: 'error',
							duration: 6000
						})
						scrollIntoView('androidPackageName')
					}
				}
				if (error) return
				if (data.storeType == 2) {
					if (storeFormRef.value) {
						await storeFormRef.value.validate((valid, fields) => {
							if (!valid) {
								error = true
								errorId = Object.keys(fields)[0]
								// ElMessage.error({
								// 	message: '表单校验失败，请检查表单必填项'
								// })
								scrollIntoView(errorId)
								return
							}
						})
					}
				}
				if (error) return
				if (moduleJSON.value) {
					const parseCode = parseCodeObj()
					if (parseCode['uni-verify']) {
						if (!parseCode['uni-verify']['GETUI_APPID'] && !parseCode['uni-verify']['GY_APP_ID']) {
							ElNotification({
								title: '提示',
								dangerouslyUseHTMLString: true,
								message: '【uni-verify】模块校验错误<br/>GETUI_APPID字段不能为空<br/>GY_APP_ID字段不能为空',
								type: 'error',
								duration: 6000
							})
							return false
						}
					}
					if (parseCode['uni-ad']) {
						if (!parseCode['uni-ad']['DCLOUDUnionId']) {
							ElNotification({
								title: '提示',
								dangerouslyUseHTMLString: true,
								message: '【uni-ad】模块校验错误<br/>DCLOUDUnionId字段不能为空',
								type: 'error',
								duration: 6000
							})
							return false
						}
					}
					if (parseCode['uni-push']) {
						if (
							!parseCode['GETUI_APPID'] &&
							!parseCode['PUSH_APPID'] &&
							!parseCode['MIPUSH_APPID'] &&
							!parseCode['MIPUSH_APPKEY'] &&
							!parseCode['MEIZUPUSH_APPID'] &&
							!parseCode['MEIZUPUSH_APPKEY'] &&
							!parseCode['OPPOPUSH_APPKEY'] &&
							!parseCode['OPPOPUSH_APPSECRET'] &&
							!parseCode['HUAWEI_APPID'] &&
							!parseCode['VIVO_APPID'] &&
							!parseCode['VIVO_APIKEY'] &&
							!parseCode['HIHONOR_APPID']
						) {
							ElNotification({
								title: '提示',
								dangerouslyUseHTMLString: true,
								message: `【uni-push】模块校验错误<br/>
											GETUI_APPID字段不能为空<br/>
											PUSH_APPID字段不能为空<br/>
											MIPUSH_APPID字段不能为空<br/>
											MIPUSH_APPKEY字段不能为空<br/>
											MEIZUPUSH_APPID字段不能为空<br/>
											MEIZUPUSH_APPKEY字段不能为空<br/>
											OPPOPUSH_APPKEY字段不能为空<br/>
											OPPOPUSH_APPSECRET字段不能为空<br/>
											HUAWEI_APPID字段不能为空<br/>
											VIVO_APPID字段不能为空<br/>
											VIVO_APIKEY字段不能为空<br/>
											HIHONOR_APPID字段不能为空<br/>`,
								type: 'error',
								duration: 6000
							})
							return false
						} else if (data.checkAgconnectServicesRes === false) {
							ElNotification({
								title: '提示',
								message: '华为推送配置文件不存在，请登录华为的AppGallery Connect网站，找到需要集成华为推送的应用，在“项目设置 > 常规”页面的“应用”区域，点击 `agconnect-services.json` 下载配置文件。并拷贝到项目下的 `static` 目录下。',
								type: 'error'
							})
							return false
						}
					}
					if (parseCode['uni-payment']) {
						if (Object.keys(parseCode['uni-payment']).length == 0) {
							ElNotification({
								title: '提示',
								message: '【uni-payment】请至少选择一种支付平台',
								type: 'error',
								duration: 6000
							})
							return false
						}
					}
					
					return true
				} else {
					let config = buildConfirmConfig()
					let error = false
					let errorId = ''
					// 表单校验
					if (uniVerifyFormRef.value) {
						error = await checkUniVerifyForm(config)
					}
					showErrorValidateNotification()
					if (error) return false
					if (uniAdFormRef.value) {
						if (config['uni-ad']) {
							await uniAdFormRef.value.validate((valid) => {
								if (!valid) {
									error = true
									errorId = 'DCLOUDUnionId'
									// ElMessage.error({
									// 	message: '表单校验失败，请检查表单必填项'
									// })
									scrollIntoView(errorId)
									return
								}
							})
						}
					}
					showErrorValidateNotification()
					if (error) return false
					if (uniPushFormRef.value) {
						if (config['uni-push']) {
							await uniPushFormRef.value.validate((valid, fields) => {
								if (!valid) {
									error = true
									errorId = Object.keys(fields)[0]
									// ElMessage.error({
									// 	message: '表单校验失败，请检查表单必填项'
									// })
									scrollIntoView(errorId)
									return
								}
							})
							if (error) return
							if (data.checkAgconnectServicesRes === false) {
								error = true
								ElNotification({
									title: '提示',
									message: '华为推送配置文件不存在，请登录华为的AppGallery Connect网站，找到需要集成华为推送的应用，在“项目设置 > 常规”页面的“应用”区域，点击 `agconnect-services.json` 下载配置文件。并拷贝到项目下的 `static` 目录下。',
									type: 'error',
									duration: 6000
								})
								return
							}
						}
					}
					showErrorValidateNotification()
					if (error) return false
					if (config['uni-payment']) {
						await uniPaymentFormRef.value[0].validate((valid, fields) => {
							if (!valid) {
								error = true
								ElNotification({
									title: '提示',
									message: '【uni-payment】请至少选择一种支付平台',
									type: 'error',
									duration: 6000
								})
								scrollIntoView('uni-payment')
								return
							}
						})
					}
					showErrorValidateNotification()
					if (error) return false
					return true
				}
			}
			
			const onSubmit = async () => {
				// 表单校验
				// if (uniPushFormRef.value) {
				// 	uniPushFormRef.value.validate((valid, fields) => {
				// 		console.log(valid, fields);
				// 		if (!valid) {
				// 			ElMessage.error({
				// 				message: '失败了'
				// 			})
				// 			return
				// 		} else {
				// 			console.log('校验通过');
				// 		}
				// 	})
				// }
				// buildModuleJsonConfig()
				// console.log(await checkUniVerifyForm(moduleConfig.value));
				
				console.log(await beforeSubmit());
				// beforeSubmit()
			}

			const onSelectUniName = (item) => {
				data.uniName = item.fsPath;
			}
			
			const onChangeType = (value) => {
				type.value = value;
			}
			
			const onChangeAutoCheckPackenv = (value) => {
				data.type = value
			}
			
			const onChangeBuildInModules = (item) => {
				if (item.label === "uni-cloudClient") {
					buildInModules.value[6].value = true
					buildInModules.value[7].value = true
				}
			}
			
			const initEditor = () => {
				nextTick(() => {
					editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
						lineNumbers: true,
						mode: "javascript",
						theme: 'material-darker',
						tabSize: 2,
						indentUnit: 1,
						extraKeys: {
							"Tab": function(cm) {
								cm.replaceSelection("  ", "end");
							}
						}
					});
				});
			}
			
			const buildUniAdConfig = () => {
				moduleConfig.value['uni-ad'] = {
					"DCLOUDUnionId": uniAd.DCLOUDUnionId
				}
				// 判断是否添加聚合广告平台
				if (uniAd.modules.value.length > 0) {
					uniAd.modules.value.map(item => {
						moduleConfig.value['uni-ad'][item] = {}
					})
				}
			}
			
			const getUniPushFormItem = (label) => {
				return uniPush.form[uniPush.form.indexOf(uniPush.form.filter(item => item.label === label)[0])];
			}
			
			const getUniVerifyFormItem = (label) => {
				return otherModules.value[2].form[otherModules.value[2].form.indexOf(otherModules.value[2].form.filter(item => item.label === label)[0])]
			}
			
			const buildUniPushConfig = () => {
				moduleConfig.value['uni-push'] = {}
				
				uniPush.form.map(item => item.label).map(label => {
					moduleConfig.value['uni-push'][label] = getUniPushFormItem(label).value;
				})
			}
			
			const buildModuleJsonConfig = () => {
				const modules = buildInModules.value.filter(item => item.value === true);
				moduleConfig.value = {}
				if (modules.length > 0) {
					modules.map(item => {
						moduleConfig.value[item.label] = {}
					})
				}
				const otherModulesChecked = otherModules.value.filter(item => item.value === true)
				if (otherModulesChecked.length > 0) {
					otherModulesChecked.map(item => {
						moduleConfig.value[item.label] = {}
						if (item.form) {
							item.form.map(formItem => {
								moduleConfig.value[item.label][formItem.label] = formItem.value
							})
						}
						if (item.modules) {
							if (item.modules.compType === 'checkboxGroup') {
								item.modules.value.map(moduleItem => {
									moduleConfig.value[item.label][moduleItem] = {}
								})
							}
						}
					})
				}
				if (uniAd.value) {
					buildUniAdConfig()
				}
				if (uniPush.value) {
					buildUniPushConfig()
				}
			}
			
			const parseCodeObj = () => {
				return JSON.parse(editor.getValue());
			}
			
			const buildNoJsonConfig = (obj) => {
				buildInModules.value.map((item, index) => {
					item.value = Object.keys(obj).includes(item.label);
				});
				otherModules.value.map((module, index) => {
					module.value = Object.keys(obj).includes(module.label)
				})
				// 判断是否有uni-ad模块
				if (Object.keys(obj).includes('uni-ad')) {
					uniAd.value = true;
					// 判断聚合广告平台
					uniAd.modules.value = Object.keys(obj['uni-ad']);
					uniAd.DCLOUDUnionId = obj['uni-ad']['DCLOUDUnionId'];
				}
				// 判断是否有uni-push模块
				if (Object.keys(obj).includes('uni-push')) {
					Object.keys(obj['uni-push']).map(label => {
						getUniPushFormItem(label).value = obj['uni-push'][label];
					})
				}
				// 判断是否有uni-verify模块
				if (Object.keys(obj).includes('uni-verify')) {
					Object.keys(obj['uni-verify']).map(label => {
						getUniVerifyFormItem(label).value = obj['uni-verify'][label]
					})
				}
				// 判断是否有uni-payment模块
				if (Object.keys(obj).includes('uni-payment')) {
					otherModules.value[3].modules.value = Object.keys(obj['uni-payment'])
				}
			}

			watch(moduleJSON, (newValue) => {
				if (newValue) {
					initEditor();
					nextTick(() => {
						buildModuleJsonConfig();
						editor.setValue(JSON.stringify(moduleConfig.value, null, 2));
					})
				} else {
					const obj = parseCodeObj();
					buildNoJsonConfig(obj)
				}
			});
			
			const scrollIntoView = (id) => {
				document.getElementById(id).scrollIntoView({ behavior: 'auto', block: 'start' })
			}

			onMounted(() => {
				initEditor();
			})
			
			const checkUniVerifyForm = async (config) => {
			  const otherModuleForm = otherModules.value.filter(item => item.form.length > 0);
			  return new Promise((resolve) => {
			    const promises = otherModuleForm.map(async module => {
			      if (config[module.label] && module.label === 'uni-verify') {
			        return new Promise((resolveInner) => {
			          uniVerifyFormRef.value[0].validate((valid, fields) => {
			            if (!valid) {
			              errorId = Object.keys(fields)[0];
			              scrollIntoView(errorId);
			              resolveInner(true); // Resolve the inner promise with true if there's an error
			            } else {
			              resolveInner(false); // Resolve the inner promise with false if there's no error
			            }
			          });
			        });
			      }
			      return false; // Return false for modules that do not match the condition
			    });
			
			    Promise.all(promises).then(results => {
			      // If any of the results is true, resolve the outer promise with true
			      const hasError = results.some(result => result === true);
			      resolve(hasError);
			    });
			  });
			}
			
			let checkAutoPackenvNotification = null
			let autoCheckPackenvRes = ''
			
			const buildConfirmConfig = () => {
				let config = {}
				if (!moduleJSON.value) {
					buildModuleJsonConfig()
					config = moduleConfig.value
				} else {
					config = parseCodeObj()
				}
			
				return config
			}
			
			const showErrorValidateNotification = () => {
				if (moduleJSON.value) {
					ElNotification({
						title: '提示',
						message: '表单校验失败，请切换回可视化操作查看表单错误提示',
						type: 'error'
					})
				}
			}
			
			const ws = new WebSocket(`ws://127.0.0.1:9991?key=adminadmin2024`);
			
			
			ws.onopen = (event) => {
				console.log('连接已打开', event);
				// ws.send(JSON.stringify('Hello, Server!'));
			}
			
			ws.onmessage = (event) => {
				const hxData = event.data;
				if (hxData.length) {
					const content = JSON.parse(hxData)
					const dataType = content.type
					if (dataType === 'uniNames') {
						uniNames.value = content.data
					}
					if (dataType === 'androidLocalSdk') {
						data.androidLocalSdk = content.data
					}
					if (dataType === 'uniName') {
						data.uniName = content.data
					}
					if (dataType === 'repositoryUrl') {
						data.repositoryUrl = content.data
					}
					if (dataType === 'javaHome') {
						data.javaHome = content.data
					}
					if (dataType === 'checkAgconnectServicesRes') {
						data.checkAgconnectServicesRes = content.data
					}
					if (dataType === 'saveLocalConfig') {
						data.saveLocalConfig = content.data
					}
					if (dataType === 'moduleConfig' && Object.keys(content.data).length > 0) {
						buildNoJsonConfig(content.data)
					}
					if (dataType === 'autoCheckPackenvRes') {
						if (checkAutoPackenvNotification != null) {
							checkAutoPackenvNotification.close()
						}
						if (content.data !== 'success') {
							ElNotification({
								title: '提示',
								type: 'error',
								message: content.data
							})
							return
						} else {
							ElMessageBox.confirm(
								'打包环境检测通过，请继续提交打包',
								'提示', {
									confirmButtonText: '提交打包',
									cancelButtonText: '取消',
									type: 'success',
								}
							)
								.then(() => {
									let config = buildConfirmConfig()
									ws.send(JSON.stringify({
										type: 'confirm',
										data: Object.assign(config, data)
									}))
								})
								.catch((err) => {
									ElMessage({
										type: 'info',
										message: err.message
									})
								})
						}
					}
				}
			}
			
			ws.onclose = (event) => {
				if (event.code === 1008) {
					console.log('认证失败');
				} else {
					console.log('连接已关闭', event);
				}
			}
			
			ws.onerror = (error) => {
				console.log('WebSocket错误: ', error);
			}

			const initReceive = () => {
				hbuilderx.onDidReceiveMessage(async (msg) => {
					if (msg.type == 'DialogButtonEvent') {
						let button = msg.button;
						if (button == '提交') {
							//TODO 处理表单提交
							let config = buildConfirmConfig()
							let pass = await beforeSubmit()
							if (!pass) return
							
							if (data.autoCheckPackenv === '1' && data.localPack) {
								checkAutoPackenvNotification = ElNotification({
									title: '提示',
									message: '正在检测打包环境...',
									type: 'warning',
									duration: 0
								})
								ws.send(JSON.stringify({
									type: 'checkPackenv',
									data: {
										...data
									}
								}))
								pass = false
							}
							
							if (pass) {
								hbuilderx.postMessage({
									command: 'confirm',
									data: Object.assign(config, data)
								})
							}
						} else if (button == '取消') {
							//TODO 处理取消逻辑
							hbuilderx.postMessage({
								command: 'cancel'
							});
						}
					}
					if (msg.type == 'PostDataEvent') {
						if (msg.data) {
							const workspaceFolders = JSON.parse(msg.data);
							uniNames.value = workspaceFolders;
						}
					}
				});

				document.addEventListener('click', function(event) {
					if (event.target && event.target.tagName == 'A') {
						const href = event.target.href;
						if (href.indexOf('http') > -1) {
							hbuilderx.postMessage({
								command: 'openWeb',
								href: href
							})
						}
						event.preventDefault();
					}
				})
			}
			window.addEventListener('hbuilderxReady', initReceive);
			
			const convertToCamelCase = (str) => {
				return str.replace(/-(\w)/g, (_, char) => char.toUpperCase());
			}

			return {
				type,
				data,
				buildInModules,
				uniAd,
				uniAdFormRef,
				uniAdRules,
				uniPush,
				uniPushFormRef,
				uniPushRules,
				uniPushFormModel,
				querySearchUniName,
				onSelectUniName,
				onChangeType,
				moduleJSON,
				moduleConfig,
				onSubmit,
				otherModules,
				uniVerifyFormRef,
				convertToCamelCase,
				onChangeAutoCheckPackenv,
				onChangeBuildInModules,
				uniPaymentFormRef,
				storeFormRules,
				storeFormRef
			}
		}
	};

	const app = createApp(App);
	app.use(ElementPlus);
	app.mount("#app");
</script>

<style>
	:root {
		--color-primary: #55AF70;
		--el-color-primary: #55AF70;
		--color-warnig-1: #FCF6ED;
		--color-warnig: #DCA550;
	}

	.text-primary {
		color: var(--color-primary) !important;
	}

	.bg-primary {
		background-color: var(--color-primary) !important;
	}
	
	.bg-warning-1 {
		background-color: var(--color-warnig-1);
	}
	
	.text-warning {
		color: var(--color-warnig);
	}

	.divider {
		background-color: var(--color-primary);
		opacity: .5;
	}

	div {
		background-color: transparent;
		font-size: 12px;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	/* CSS Reset */
	input {
		background: none;
		border: none;
		outline: none;
		margin: 0;
		padding: 0;
		font-size: 14px;
		/* 根据需要设置字体大小 */
		color: inherit;
		/* 文字颜色继承父元素 */
		caret-color: var(--color-primary);
	}

	input::placeholder {
		font-size: 12px;
	}

	a {
		color: var(--color-primary);
		font-size: 14px;
	}

	* {
		font-size: 13px;
	}

	.text-base {
		font-size: 14px;
	}

	.text-lg {
		font-size: 16px;
	}
	.CodeMirror {
		border-radius: 10px;
	}
</style>